.logo
	max-width: 167px

.logo__title
	position: relative
	display: inline-block
	vertical-align: top
	&:after
		display: inline-block
		vertical-align: top
		content: 'Секретный архив учреждения'
		margin: -5px 0 0 7px
		color: #2f1b15
		font-family: 'PT Sans'
		font-size: 10px
		font-weight: 400
