.page-header
	position: relative
	margin-bottom: 30px
	&__inner
		clearfix()
		padding: 58px 54px 0 45px

.logo
	float: left
	max-width: 167px
	text-align: left

.logo__title
	position: relative
	display: inline-block
	vertical-align: top
	&:after
		display: inline-block
		vertical-align: top
		content: 'Секретный архив учреждения'
		margin: -5px 0 0 7px
		color: #2f1b15
		font-family: 'PT Sans'
		font-size: 10px
		font-weight: 400





