mixin code-school()
	+b.code-school Выпускник
		+e.A.academy(href='http://www.htmlacademy.ru' target='_blank') htmlacademy.ru
		+e.INPUT.input-type-radio(type='radio' name='answer' id="yes" checked)
		+e.LABEL.label--checked(for='yes') Да
		+e.INPUT.input-type-radio(type='radio' name='answer' id='no')
		+e.LABEL.label(for='no') Нет
