.noUi-target
	position: relative
	direction: ltr
	sprite($slider)

.noUi-base
	width: 100%
	min-height: 75px
	position: relative
	z-index: 1

.noUi-origin
	position: absolute
	right: 0
	top: 0
	left: 0
	bottom: 0
	border-radius: 2px

.noUi-handle
	position: relative
	top: -10px
	margin-left: -8px
	z-index: 1
	sprite:($down_arrow)
	cursor: pointer
	&:focus
		animation: arrow-scale .5s infinite ease-in
@keyframes arrow-scale {
	from {transform: scale(1)}
	50% {transform: scale(1.7)}
	to {transform: scale(1)}
}
