mixin js-level()
	+b.SECTION.js-level
		+e.H2.title Уровень владения JavaScript
		+e.range#rangeSlider
		+e.UL.list
			+e.LI.item Не владею
			+e.LI.item Использую готовые решения
			+e.LI.item Использую готовые решения
				br
				| и умею их переделывать
			+e.LI.item Пишу сложные скрипты
