
.js-level__title
		padding-left: 12px
		margin-bottom: 25px
		color: content-color
		font-family: body-font
		font-size: 22px
		font-weight: 700
		line-height: 50px
.js-level__range
		position: relative
		margin: 0 0 26px 13px
		&:before
			position: absolute
			left: 0
			top: 5px
			content: ''
			width: 3px
			height: 26px
			background-color: #41261f
			box-shadow: 754px 0 0 #41261f
		&:after
			position: absolute
			left: 148px
			top: 5px
			content: ''
			width: 3px
			height: 14px
			background-color: #41261f
			box-shadow: 225px 0 0 #41261f
.js-level__list
		display: flex
		padding-left: 12px
.js-level__item
		color: content-color
		font-family: body-font
		font-size: 13px
		font-weight: 700
		line-height: 19px
		&:first-child
			margin-right: 83px
		&:nth-child(2)
			margin: -1px 61px 0 0
		&:nth-child(3)
			margin: -1px 88px 0 0
		&:last-child
			margin-top: 5px
