mixin content()
	+b.MAIN.page-content&attributes({'data-content': 'index'})
		+e.inner
			+b.UL.about
				+e.LI.item
					+e.SPAN.data Полное ФИО
					+e.SPAN.data-info Новаш Вадим Сергеевич
				+e.LI.item
					+e.SPAN.data Год рождения
					+e.SPAN.data-info 1981
				+e.LI.item
					+e.SPAN.data Место жительства
					+e.SPAN.data-info г. Вилейка, Белоруссия
				+e.LI.item
					+e.SPAN.data Скайп
					+e.A(href='skype:vadim.novash?chat').data-info vadim.novash
				+e.LI.item
					+e.SPAN.data Почта
					+e.A(href='mailto:novash@tut.by').data-info novash@tut.by
			+b.code-school Выпускник
				+e.A.academy(href='http://www.htmlacademy.ru' target='_blank') htmlacademy.ru
				+e.INPUT(type='radio' name='answer' id="ok" checked)
				+e.LABEL.ok(for='ok') Да
				+e.INPUT(type='radio' name='answer' id='no')
				+e.LABEL.no(for='no') Нет
			+b.SECTION.skills
				+e.H2.title Практические навыки
				+e.P.subtitle Отметьте только те технологии и типы задач, с которыми вы хорошо
					|знакомы. Отсутствие опыта отнюдь не означает, что у вас меньше шансов стать
					|нашим сотрудником. Это означает, что вы будете получать те задачи, с которыми
					|гарантировано будете справляться.
				+b.FORM.skills-list(action='#' method='post')
					FIELDSET
						+e.INPUT.input(type='checkbox' id='bem' name='bem' checked)
						+e.LABEL.item(for='bem') Методология БЭМ
						+e.INPUT.input(type='checkbox' id='jq' name='jq')
						+e.LABEL.item(for='jq') jQuery
						+e.INPUT.input(type='checkbox' id='gulp' name='gulp' checked)
						+e.LABEL.item(for='gulp') Использую GULP
						+e.INPUT.input(type='checkbox' id='haml' name='haml')
						+e.LABEL.item(for='haml') HAML
						+e.INPUT.input(type='checkbox' id='sass' name='sass' checked)
						+e.LABEL.item(for='sass') SASS
						+e.INPUT.input(type='checkbox' id='less' name='less' checked)
						+e.LABEL.item(for='less') LESS
						+e.INPUT.input(type='checkbox' id='coffee' name='coffee')
						+e.LABEL.item(for='coffee') CoffeeScript
					FIELDSET
						+e.INPUT.input(type='checkbox' id='jade' name='jade' checked)
						+e.LABEL.item(for='jade') Jade
						+e.INPUT.input(type='checkbox' id='stylus' name='stylus' checked)
						+e.LABEL.item(for='stylus') Stylus
						+e.INPUT.input(type='checkbox' id='angular' name='angular')
						+e.LABEL.item(for='angular') Знаю (изучаю) Angular
						+e.INPUT.input(type='checkbox' id='android' name='android')
						+e.LABEL.item(for='android') Верстка под Android
						+e.INPUT.input(type='checkbox' id='ios' name='ios')
						+e.LABEL.item(for='ios') Верстка под iOS
						+e.INPUT.input(type='checkbox' id='winphone' name='winphone')
						+e.LABEL.item(for='winphone') Верстка под Windows Phone
					FIELDSET
						+e.INPUT.input(type='checkbox' id='letter' name='letter')
						+e.LABEL.item(for='letter') Верстка рассылок
						+e.INPUT.input(type='checkbox' id='adaptive' name='adaptive' checked)
						+e.LABEL.item(for='adaptive') Адаптивная верстка
						+e.INPUT.input(type='checkbox' id='dropbox' name='dropbox' checked)
						+e.LABEL.item(for='dropbox') Использую Dropbox
						+e.INPUT.input(type='checkbox' id='gmail' name='gmail' checked)
						+e.LABEL.item(for='gmail') Использую Gmail
						+e.INPUT.input(type='checkbox' id='git' name='git' checked)
						+e.LABEL.item(for='git') Использую GitHub
			+b.SECTION.js-level
				+e.H2.title Уровень владения JavaScript
				+e.range#rangeSlider
				+e.UL.list
					+e.LI.item Не владею
					+e.LI.item Использую готовые решения
					+e.LI.item Использую готовые решения
						br
						|и умею их переделывать
					+e.LI.item Пишу сложные скрипты


