mixin content()
	+b.MAIN.page-content&attributes({'data-content': 'index'})
		+e.inner
			+b.UL.about
				+e.LI.item
					+e.SPAN.data Полное ФИО
					+e.SPAN.data-info Новаш Вадим Сергеевич
				+e.LI.item
					+e.SPAN.data Год рождения
					+e.SPAN.data-info 1981
				+e.LI.item
					+e.SPAN.data Место жительства
					+e.SPAN.data-info г. Вилейка, Белоруссия
				+e.LI.item
					+e.SPAN.data Скайп
					+e.SPAN.data-info vadim.novash
				+e.LI.item
					+e.SPAN.data Почта
					+e.SPAN.data-info novash@tut.by
			+b.code-school Выпускник
				+e.A.academy(href='http://www.htmlacademy.ru' target='_blank') htmlacademy.ru
				+e.INPUT(type='radio' name='answer' id="ok" checked)
				+e.LABEL.ok(for='ok') Да
				+e.INPUT(type='radio' name='answer' id='no')
				+e.LABEL.no(for='no') Нет
			+b.SECTION.skills
				+e.H2.title Практические навыки
				+e.P.subtitle Отметьте только те технологии и типы задач, с которыми вы хорошо
					|знакомы. Отсутствие опыта отнюдь не означает, что у вас меньше шансов стать
					|нашим сотрудником. Это означает, что вы будете получать те задачи, с которыми
					|гарантировано будете справляться.
				+b.UL.skill-list
					+e.LI.item
						+e.INPUT(type='checkbox' id='bem' name='bem')
						+e.LABEL(for='bem') Методология БЭМ
					+e.LI.item
						+e.INPUT(type='checkbox' id='jade' name='jade')
						+e.LABEL(for='jade') Jade
					+e.LI.item
						+e.INPUT(type='checkbox' id='letter' name='letter')
						+e.LABEL(for='letter') Верстка рассылок
					+e.LI.item
						+e.INPUT(type='checkbox' id='jq' name='jq')
						+e.LABEL(for='jq') jQuery
					+e.LI.item
						+e.INPUT(type='checkbox' id='stylus' name='stylus')
						+e.LABEL(for='stylus') Stylus
					+e.LI.item
						+e.INPUT(type='checkbox' id='adaptive' name='adaptive')
						+e.LABEL(for='adaptive') Адаптивная верстка
					+e.LI.item
						+e.INPUT(type='checkbox' id='gulp' name='gulp')
						+e.LABEL(for='gulp') Использую GULP
					+e.LI.item
						+e.INPUT(type='checkbox' id='angular' name='angular')
						+e.LABEL(for='angular') Знаю (изучаю) Angular
					+e.LI.item
						+e.INPUT(type='checkbox' id='dropbox' name='dropbox')
						+e.LABEL(for='dropbox') Использую Dropbox
					+e.LI.item
						+e.INPUT(type='checkbox' id='haml' name='haml')
						+e.LABEL(for='haml') HAML
					+e.LI.item
						+e.INPUT(type='checkbox' id='android' name='android')
						+e.LABEL(for='android') Верстка под Android
					+e.LI.item
						+e.INPUT(type='checkbox' id='gmail' name='gmail')
						+e.LABEL(for='gmail') Использую Gmail
					+e.LI.item
						+e.INPUT(type='checkbox' id='sass' name='sass')
						+e.LABEL(for='sass') SASS
					+e.LI.item
						+e.INPUT(type='checkbox' id='ios' name='ios')
						+e.LABEL(for='ios') Верстка под iOS
					+e.LI.item
						+e.INPUT(type='checkbox' id='git' name='git')
						+e.LABEL(for='git') Использую GitHub
					+e.LI.item
						+e.INPUT(type='checkbox' id='less' name='less')
						+e.LABEL(for='less') LESS
					+e.LI.item
						+e.INPUT(type='checkbox' id='winphone' name='winphone')
						+e.LABEL(for='winphone') Верстка под Windows Phone
					+e.LI.item
						+e.LABEL
					+e.LI.item
						+e.INPUT(type='checkbox' id='coffee' name='coffee')
						+e.LABEL(for='coffee') CoffeeScript
			+b.SECTION.js-level
				+e.H2.title Уровень владения JavaScript
				+e.range
				+e.UL.list
					+e.LI.item Не владею
					+e.LI.item Использую готовые решения
					+e.LI.item Использую готовые решения и умею их переделывать
					+e.LI.item Пишу сложные скрипты


